Requirement already satisfied: plotly in c:\users\traor\anaconda3\lib\site-packages (5.7.0)
Requirement already satisfied: six in c:\users\traor\anaconda3\lib\site-packages (from plotly) (1.15.0)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\traor\anaconda3\lib\site-packages (from plotly) (8.0.1)
